:root {
    --animation-time: 2s;
}

.acceptButton {
    margin-right: 5%;
    margin-left: 5%;
    text-align: start;
    color: blue;
    background-color: rgb(104, 9, 104);
    width:90%;
    height: 400px;
    opacity: .2;
}

.beneath {
    position: relative;
    top: -300px;
    font-size: 40px;
}

.beneath2 {
    position: relative;
    top: -250px;
    font-size: 20px;
   
}

.acceptButton:hover +.beneath{
    animation: upperLeft 2s ease-out;
}


.acceptButton:hover +.one{
    display:inline-block;
    color:red;
    animation: upperLeft 2s ease-out;
}

.acceptButton:hover +.two{
    display:inline-block;
    color:blue;
    animation: upperRight 2s ease-out;
}

.acceptButton:hover + .three {
    display:inline-block;
    color:green;
    animation: bottomRight 2s ease-out; 
}

.acceptButton:hover + .four {
    display:inline-block;
    color:purple;
    animation: bottomLeft 2s ease-out; 
}

.zero{
    opacity: 0;
}

@keyframes upperLeft {
    0%{
        transform: translate(-100px,-100px);

    }
    100%{
        transform: translate(0px,0px);

    }
}

@keyframes upperRight {
    0%{
        transform: translate(100px,-100px);

    }
    100%{
        transform: translate(0px,0px);

    }
}

@keyframes bottomRight {
    0%{
        transform: translate(100px,100px);

    }
    100%{
        transform: translate(0px,0px);

    }
}

@keyframes bottomLeft {
    0%{
        transform: translate(-100px,100px);

    }
    100%{
        transform: translate(0px,0px);

    }
}